<div class="widget tag">
<p margin="0" style="text-align:center">
<a class="ahref" href="http://researchlab.github.io/about/">
<img id="aboutpic"  src="/img/weixin.jpg" alt="加我微信" height="200" width="200" >
</a></p>
<!--<hr noshade color="#ccc">-->
<!-- <p style="text-align:center">Mike.Lee</p> -->
<p style="text-align:center"><font size="2" color="grey">扫一扫上面的二维码 加我微信</font></p>
<ul>
<table border="0" font-size="1">
<tr>
<td align="right"><font size="2" >现状: </font></td>
<td align="left"><font size="2" >软件开发攻城狮</font><td>
</tr>
<tr>
<td align="right"><font size="2" >QQ号: </font></td>
<td align="left"><font size="2" >975508300</font></td>
</tr>
<tr>
<td align="right"><font color="red" size="2">Hexo交流群: </font></td>
<td align="left"><font color="red" size="2">287306637</font></td>
</tr>

</table>
</ul>

</div>

