<div class="widget tag">
<p margin="0" style="text-align:center">
<a class="ahref" href="http://researchlab.github.io/about/">
<img id="aboutpic"  src="/img/weixin.jpg" alt="加我微信" height="200" width="200" style="box-shadow: 0px 0px 2px 2px #9edeff;border-radius: 8px;" >
</a></p>
<!--<hr noshade color="#ccc">-->
<!-- <p style="text-align:center">Mike.Lee</p> -->
<p style="text-align:center"><font size="2" color="grey">扫一扫上面的二维码 加我微信</font></p>
<div style="display:block; margin-top:10px; padding: 0px 4px 4px 0; border-top: dashed 1px #ccc; text-align:left;"></div>
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<div style="float:left;position:absolute;"><font size="2" >总访问:<span id="busuanzi_value_site_pv"></span>次</font></div>
<div style="float:right;"><font size="2" >总访客:<span id="busuanzi_value_site_uv"></span>人</font></div>

<div style="margin-top:30px; padding: 5px 4px 4px 0; border-top: dashed 1px #ccc; text-align:left;"></div>
</div>

