<% if (page.comments) { %>
<!-- gitment评论框 start -->
	<div id="gitment" class="ds-thread"></div>
	<link rel="stylesheet" href="https://github.com/researchlab/gitment/blob/master/style/default.css">
	<script src="https://github.com/researchlab/gitment/blob/master/dist/gitment.browser.js"></script>
	<script>
	  var gitment = new Gitment({
	    id: 'l<%= page.date %>', // 可选。建议为<%= page.date %>
	    owner: 'researchlab', // 可以是你的GitHub用户名，也可以是github id
	    repo: 'researchlab.github.io', //可以是你的任意一个repo，推荐使用githubpage所在的repo
	    oauth: {
	      client_id: 'e4971ec4c4fdbefb392f',
	      client_secret: 'e5001b2dda2dcb9a9c66417991be57836c17a72b',
	    },
	  })
	  gitment.render('gitment')
</script>
<% } %>
